/* moveable-rotation */
.moveable-rotation .moveable-control {
  border: unset !important;
  background-color: #ccc !important;
}

/* moveable-direction */
.moveable-direction.moveable-nw, .moveable-direction.moveable-se, .moveable-reverse .moveable-direction.moveable-ne, .moveable-reverse .moveable-direction.moveable-sw {
  border: unset !important;
  background-color: #ccc !important;
}
.moveable-direction.moveable-ne, .moveable-direction.moveable-sw, .rCSckyn7i.moveable-reverse .moveable-direction.moveable-nw, moveable-reverse .moveable-direction.moveable-se {
  border: unset !important;
  background-color: #ccc !important;
}

/* moveable-line */
.moveable-line {
  background-color: #ccc !important;
}

.moveable-direction.moveable-ne {
  position: relative !important;
  cursor: pointer !important;
  border: unset !important;
  &::after {
    position: absolute;
    content: '';
    background: url('../img/simulation/icon/close.svg');
    background-size: cover;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
}