.product {
  width: 84px;
  &__imgWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__img {
    width: 100%;
  }
  &__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
    background-color: #eee;
  }
  &__btnText {
    font-size: 12px;
  }
  &__btnIcon {
    width: 12px;
    height: 12px;
  }
}