.target {
  position: absolute;
  top: 30px;
  left: 30px;
  transform: translate(calc(-50% + 100px), calc(-50% + 100px)) scale(calc(1/4)); // 4倍書き出しのため
  @include mq('sp') {
    transform: translate(calc(-50% + 100px), calc(-50% + 100px)) scale(calc(1/4 * #{$imgWidthSP}/#{$imgWidthPC})); // 4倍書き出しのため
  }
  &:hover { // common.cssのスタイルを打消
    transition: unset;
  }
}