.simulation {
  &__container {
    @include container($width: 800px, $maxWidth: 95%);
  }
  &__header {
    margin-bottom: 20px;
    text-align: center;
  }
  &__headerTitle {
    margin-bottom: 20px;
    font-size: 2.8rem;
    font-weight: normal;
  }
  &__headerDescription {}
  &__tab {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__tabBtn {
    $this: &;
    $height: 40px;
    width: 120px;
    height: $height;
    background-color: #eee;
    border-radius: 12px;
    line-height: $height;
    text-align: center;
    cursor: pointer;
    &--left {
      @extend #{$this};
      margin-right: 20px;
    }
    &--right {
      @extend #{$this};
      margin-left: 20px;
    }
  }
  &__playground {
    display: flex;
    justify-content: space-between;
    @include mq('sp') {
      flex-direction: column;
    }
  }
  &__playgroundColumn {
    &--left {
      margin-right: 20px;
      @include mq('sp') {
        margin-right: 0;
      }
    }
    &--right {}
  }
  &__target {
    position: relative;
  }
  &__targetImg {
    user-select: none;
    pointer-events: none;
    width: 400px;
    @include mq('sp') {
      width: 100%;
    }
  }
  &__elems {
    display: flex;
    flex-wrap: wrap;
  }
  &__elem {
    $this: &;
    margin-bottom: 12px;
    margin-right: 6px;
    &--lastColumn {
      @extend #{$this};
      margin-right: 0;
    }
  }
  &__btns {
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
  }
  &__btn {
    $height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: $height;
    background-color: #eee;
    border-radius: 8px;
    line-height: $height;
    text-align: center;
    margin-right: 16px;
    font-size: 16px;
  }
  &__btnText {}
  &__btnIcon {
    display: block;
    width: 16px;
    height: 16px;
  }
  &__description {}
  &__descriptionText {
    font-size: 12px;
  }
  &__descriptionImg {}
}