.simulation {
  &__container {
    @include container($width: 800px);
  }
  &__header {
    margin-bottom: 20px;
    text-align: center;
  }
  &__headerTitle {
    margin-bottom: 20px;
    font-size: 2.8rem;
    font-weight: normal;
  }
  &__headerDescription {}
  &__tab {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__tabBtn {
    $this: &;
    $height: 40px;
    width: 120px;
    height: $height;
    background-color: #eee;
    border-radius: 12px;
    line-height: $height;
    text-align: center;
    &--left {
      @extend #{$this};
      margin-right: 20px;
    }
    &--right {
      @extend #{$this};
      margin-left: 20px;
    }
  }
  &__playground {
    display: flex;
    justify-content: space-between;
  }
  &__playgroundColumn {
    &--left {
      margin-right: 20px;
    }
    &--right {}
  }
  &__target {
    position: relative;
  }
  &__targetImg {}
  &__elems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__elem {
    margin-bottom: 20px;
  }
  &__btns {
    display: flex;
    margin-bottom: 20px;
  }
  &__btn {
    $height: 32px;
    width: 80px;
    height: $height;
    background-color: #eee;
    border-radius: 8px;
    line-height: $height;
    text-align: center;
    margin-right: 16px;
    font-size: 16px;
  }
  &__description {}
  &__descriptionText {
    font-size: 12px;
  }
  &__descriptionImg {}
}